@charset "utf-8";

@font-face {
  font-family: "alipuhui";
  font-display: swap;
  src: url("//at.alicdn.com/t/webfont_wzkztdeswj.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_wzkztdeswj.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_wzkztdeswj.woff2")
      format("woff2"),
    url("//at.alicdn.com/t/webfont_wzkztdeswj.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_wzkztdeswj.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_wzkztdeswj.svg#AlibabaPuHuiTiM")
      format("svg"); /* iOS 4.1- */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  letter-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  background: $bg-body;
  color: $color-normal;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  @include font;
  font-weight: 400;
}

body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

input,
select,
textarea {
  outline: none;
  font-size: 100%;
  -webkit-appearance: none;
}

img {
  border-style: none;
}

b,
em {
  font-style: normal;
  font-weight: normal;
}

.btn {
  cursor: pointer;
  @include flex(row, center, center);
  &:not(.disabled):hover {
    opacity: 0.9;
  }
  &:not(.disabled):active {
    opacity: 0.7;
  }
  &.btn-primary {
    background: $bg-primary;
    color: $color-lightest;

    &:not(.disabled):hover {
      background: $bg-primary-hover;
    }
  }
  &.link-primary {
    color: $color-primary;
  }
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s ease;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.slideDown-enter,
.slideDown-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}
.slideDown-enter-active,
.slideDown-leave-active {
  transition: all 0.3s ease;
}
.slideDown-enter-to,
.slideDown-leave {
  transform: translateY(0);
  opacity: 1;
}

.dropdownToggle-enter,
.dropdownToggle-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
.dropdownToggle-enter-active,
.dropdownToggle-leave-active {
  transition: all 0.3s ease;
}
.dropdownToggle-enter-to,
.dropdownToggle-leave {
  transform: translateY(0);
  opacity: 1;
}

.--cursor-pointer {
  cursor: pointer;
}
